@using StoreWeb.HtmlHelpers
@model StoreWeb.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>List</h2>

@foreach (var product in Model.Products)
{
    Html.RenderPartial("ProductSummary", product);
}
<div class="pager">
    @Helpers.PageLinks(Model.PagingInfo, pageNum => Url.Action("List", new { page = pageNum, category = Model.CurrentCategory })) 
</div>